a {
  color: #f27935;
}
a:hover {
  color: #e55c0f;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #f27935 !important;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  color: #f27935;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #f27935;
}
#offcanvas-toggler >i {
  color: #999999;
}
#offcanvas-toggler >i:hover {
  color: #f27935;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #f06618;
  background-color: #f27935;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #cd520d;
  background-color: #e55c0f;
}
ul.social-icons >li a:hover {
  color: #f27935;
}
.sp-page-title {
  background: #f27935;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #999999;
}
.sp-module ul >li >a:hover {
  color: #f27935;
}
.sp-module .latestnews >div >a {
  color: #999999;
}
.sp-module .latestnews >div >a:hover {
  color: #f27935;
}
.sp-module .tagscloud .tag-name:hover {
  background: #f27935;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  color: #f27935;
  border-color: #f27935;
}
.portfolio-style-1 .sp-simpleportfolio-items .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-btns a.btn-view i,
.portfolio-style-1 .sp-simpleportfolio-items .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-btns a.btn-zoom i {
  color: #f27935;
}
.sp-simpleportfolio .sp-simpleportfolio-item:hover .sp-simpleportfolio-info h3 > a {
  color: #f27935 !important;
}
.sp-simpleportfolio .sp-simpleportfolio-item:hover .sp-simpleportfolio-info {
  border-bottom: 1px solid #f27935 !important;
}
.search .btn-toolbar button {
  background: #f27935;
}
.post-format {
  background: #f27935;
}
.voting-symbol span.star.active:before {
  color: #f27935;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #e55c0f;
}
.entry-link,
.entry-quote {
  background: #f27935;
}
blockquote {
  border-color: #f27935;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #f27935;
}
#sp-footer {
  background: #f27935;
}
.pagination>li>a,
.pagination>li>span {
  color: #999999;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #999999;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #f27935;
  background-color: #f27935;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #f27935;
  background-color: #f27935;
}
.sppb-progress-bar span.progress-percent {
  color: #f27935;
}
.ns2-art-pagination.nssp2-controllers span.active {
  background: #f27935 !important;
}
.sppb-pricing-box:hover .sppb-pricing-header .sppb-pricing-title {
  background: #f27935 !important;
}
.sppb-pricing-box:hover .sppb-pricing-header .sppb-pricing-price {
  color: #f27935;
  trasition: .5s;
}
.sppb-pricing-footer .sppb-btn-default {
  color: #f27935 !important;
}
.sppb-progress-bar span.progress-percent {
  color: #f27935;
}
.ns2-art-pagination.nssp2-controllers span.active {
  background: #f27935 !important;
}
.sppb-addon-persion:hover .sppb-person-information span.sppb-person-name {
  color: #f27935;
}
.sppb-person-social-icons ul.sppb-person-social a i:hover {
  color: #f27935;
}
.portfolio-style-2 .sp-simpleportfolio-items .sp-simpleportfolio-overlay-wrapper:hover h3.sp-simpleportfolio-title a {
  color: #f27935;
}
.portfolio-style-2 .sp-simpleportfolio-items .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-btns a.btn-zoom i:hover {
  color: #f27935;
}
.portfolio-style-2 .sp-simpleportfolio-items .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-btns a.btn-view i:hover {
  color: #f27935;
}
.imago-widgets ul.imago-social-list li a {
  background: #f27935;
}
.ns2-link-date span {
  color: #f27935;
}
.ns2-links-wrap .ns2-title a:hover {
  color: #f27935;
}
.section-color {
  background: #f27935;
}
.sppb-btn-default:hover {
  color: #f27935 !important;
}
.person-style-3 .sppb-progress-bar {
  background-color: #f27935 !important;
}
.service-style-1 .sppb-addon-feature .sppb-icon span {
  border-color: #f27935;
  border: 1px solid #f27935;
  color: #f27935;
}
.number-style-1 .sppb-addon-feature .sppb-feature-box-title {
  color: #f27935 !important;
}
div.k2TagCloudBlock a:hover {
  color: #f27935;
}
#services-section .services-box .services-post .up-box i {
  color: #f27935;
}
#services-section .services-box .services-post:hover .up-box {
  background: #f27935;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  border-top: 2px solid #f27935;
}
.slider-one a.slider-btn:hover {
  border: 2px solid #f27935 !important;
}
.rev_slider_wrapper .bullet:hover {
  background: #f27935 !important;
  border-color: #f27935 !important;
  opacity: 1;
}
.rev_slider_wrapper .tp-bullets .selected {
  background: #f27935 !important;
  border-color: #f27935 !important;
  opacity: 1;
}
#sp-header .logo p {
  color: #f27935 !important;
}
.search-custom .search input.inputbox {
  border: 4px solid #f27935 !important;
}
.search-custom .sp-dropdown .button i {
  color: #f27935 !important;
}
.sppb-btn-success:hover {
  background: none;
  border-color: #f27935 !important;
  color: #f27935 !important;
}
.sppb-btn-footer-social {
  background: #f27935 !important;
}
li.onepage-nav a.active {
  color: #f27935 !important;
}
.tagspopular ul li a:hover {
  color: #f27935 !important;
}
.imago-feature span {
  background: #f27935 !important;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #f27935 !important;
  box-shadow: none;
}
.imago-app-btn {
  background: #f27935 !important;
}
.custom-white-big-preset {
  color: #f27935 !important;
}
.onepage-classic ul.sp-megamenu-parent li:hover a {
  color: #f27935 !important;
}
#about-section2 .about-box .about-post a:hover,
#about-section2 .about-box .about-post a.active {
  background: #f27935 !important;
}
#about-section2 .content-tab .tab-cont h2 {
  color: #f27935 !important;
}
.sppb-testimonial-pro .sppb-testimonial-client strong {
  color: #f27935 !important;
}
body.onepage-classic .sticky-wrapper #sp-menu ul li.current a {
  color: #f27935 !important;
}
.sticky-wrapper #sp-menu .current a {
  color: #f27935 !important;
}
.menu-underline .sp-dropdown-inner .sp-menu-item a.sp-group-title {
  border-bottom: 1px solid #f27935;
}
